@model AplicacionPrueba.Models.Propietario

@{
    ViewData["Title"] = "Editar";
    int id = Model.Id;
}

@if(!User.Identity.IsAuthenticated)
 {
     await Html.RenderPartialAsync("_Login", new LoginView());
 }
else
{

<h1>Editar el Propietario: @Model.Nombre</h1>

<div class="container">
    <div>
        <form method="post" asp-action="Editar">
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label for="dni_id" class="control-label">DNI</label>
                <input type="text" class="form-control" id="dni_id" name="dni" value="@Model.Dni">
            </div>
            <div class="form-group">
                <label for="name_id" class="control-label">Nombre</label>
                <input type="text" class="form-control" id="name_id" name="nombre" value="@Model.Nombre">
            </div>
            <div class="form-group">
                <label for="dire" class="control-label">Direccion</label>
                <input type="text" class="form-control" id="direccion" name="direccion" value="@Model.Direccion">
            </div>
            <div class="form-group">
                <label for="dire" class="control-label">Telefono</label>
                <input type="text" class="form-control" id="tel" name="tel" value="@Model.Tel">
            </div>
            <input type="submit" value="Confirmar" />
        </form>
    </div>
    <br>
    <div>
        <a asp-action="Index" class="btn btn-secondary">Volver</a>
    </div>
</div>
}