@model IEnumerable<AplicacionPrueba.Models.Propietario>

@{
    ViewData["Title"] = "Index Propietarios";
    List<Propietario> propietarios = ViewData[nameof(Propietario)] as List<Propietario>;
}

<h1>Nuestros Propietarios Actuales</h1>

<table class="table" style="margin-bottom:45px">
    <thead>
        <tr align="center">
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tel)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in propietarios) {
        <tr align="center">
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tel)
            </td>
            <td>
                <i class="fa fa-edit"></i>
                @Html.ActionLink("Editar", "Editar", new { id=item.Id}) |
                <i class="fa fa-info-circle"></i>
                @Html.ActionLink("Detalles", "Detalles", new { id=item.Id}) |
                <i class="fa fa-trash"></i>
                @Html.ActionLink("Eliminar", "Delete", new { id=item.Id})
            </td>
        </tr>
}
    </tbody>
</table>

<p>
    <a asp-action="Alta" class="btn btn-primary">Crear Propietario</a>
</p>