@model AplicacionPrueba.Models.Inmueble

@{
    ViewData["Title"] = "Detalles de Inmueble";
    int id = Model.Id_inmu;
}

@if(!User.Identity.IsAuthenticated)
 {
     await Html.RenderPartialAsync("_Login", new LoginView());
 }
 else
 {

<h1>Datalles del Inmueble: @Model.Direccion_in</h1>

<div class="container">
    <div>
       <table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id_inmu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direccion_in)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Uso)
            </th>          
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @Model.Id_inmu
            </td>
            <td>
                @Model.Direccion_in
            </td>
            <td>
                @Model.precio
            </td>
            <td>
                @Model.Tipo
            </td>
            <td>
                @Model.Uso
            </td>
            <td>
                <i class="fa fa-edit"></i>
                @Html.ActionLink("Editar", "Editar", new { id=Model.Id_inmu}) |
                <i class="fa fa-trash"></i>
                @Html.ActionLink("Eliminar", "Delete", new { id=Model.Id_inmu})
            </td>
        </tr>
    </tbody>
    </table> 
    </div>
</div>
 }
