@model IEnumerable<AplicacionPrueba.Models.Contrato>

@{
    ViewData["Title"] = "Index Contratos";
    List<Contrato> contratos = ViewData[nameof(Contrato)] as List<Contrato>;
}

@if(!User.Identity.IsAuthenticated)
 {
     await Html.RenderPartialAsync("_Login", new LoginView());
 }
else
{

<h1>Nuestros Contratos Actuales</h1>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.fe_ini)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fe_fin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Inquilino.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Inmueble.Direccion_in)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in contratos)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.fe_ini, "{0:dd/MM/yyyy}")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fe_fin, "{0:dd/MM/yyyy}")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Inquilino.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Inmueble.Direccion_in)
                </td>

                <td>
                <i class="fa fa-edit"></i>
                @Html.ActionLink("Editar", "Editar", new { id=item.Id}) |
                <i class="fa fa-info-circle"></i>
                @Html.ActionLink("Detalles", "Detalles", new { id=item.Id}) |
                <i class="fa fa-trash"></i>
                @Html.ActionLink("Eliminar", "Delete", new { id=item.Id}, new { onclick = "return confirm('Borrar el Contrato de: " + @item.Inquilino.Nombre + "?')" })
            </td>
            </tr>
        }
    </tbody>
</table>

<p>
    <a asp-action="Alta" class="btn btn-primary">Crear Contratos</a>
</p>
}